<div class="comments">
    <div class="comment-wrap">
        <div class="comment-head desktop">
            <div class="photo">
                <div *ngIf="!user.photoUrl" class="avatar" style="background-image: url('assets/img/avatar.png')"></div>
                <div *ngIf="user.photoUrl" class="avatar" style="background-image: url(user.photoUrl)"></div> 
            </div>
            <div class="username">{{user.firstName + ' ' + user.lastName}}</div>
        </div>
        <div class="comment-block">
            <div class="comment-head mobile">
                <div class="photo">
                    <div *ngIf="!user.photoUrl" class="avatar" style="background-image: url('assets/img/avatar.png')"></div>
                    <div *ngIf="user.photoUrl" class="avatar" style="background-image: url(user.photoUrl)"></div> 
                </div>
                <div class="username">{{user.firstName + ' ' + user.lastName}}</div>
            </div>
            <form (ngSubmit)="addComment()">
                <div class="form-group">
                    <textarea #comment name="" id="" cols="30" rows="3" placeholder="Add comment..."></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-round btn-primary">Add comment</button>
                </div>
            </form>
        </div>
    </div>

    <div *ngFor="let comment of comments" class="comment-wrap">
        <div class="comment-head desktop">
            <div class="photo">
                <div *ngIf="!comment.user.photoUrl" class="avatar" style="background-image: url('assets/img/avatar.png')"></div>
                <div *ngIf="comment.user.photoUrl" class="avatar" style="background-image: url(comment.user.photoUrl)"></div> 
            </div>
            <div class="username" [class.author]="isUserComment(comment)">{{comment.user.firstName + ' ' + comment.user.lastName}}</div>
        </div>
        <div class="comment-block">
            <div class="comment-head mobile">
                <div class="photo">
                    <div *ngIf="!comment.user.photoUrl" class="avatar" style="background-image: url('assets/img/avatar.png')"></div>
                    <div *ngIf="comment.user.photoUrl" class="avatar" style="background-image: url(comment.user.photoUrl)"></div> 
                </div>
                <div class="username" [class.author]="isUserComment(comment)">{{comment.user.firstName + ' ' + comment.user.lastName}}</div>
            </div>
            <p class="comment-text">{{comment.content}}</p>
            <div class="bottom-comment">
                <div class="comment-date">{{ comment.createdAt | date: 'd/M/yy, h:mm a' }}</div>
                <ul class="comment-actions">
                    <li class="complain" (click)="complain(comment)">Complain</li>
                    <li class="reply" (click)="reply(comment)">Reply</li>
                    <li class="delete" *ngIf="canRemoveComment(comment)" (click)="remove(comment)">Delete</li>
                </ul>
            </div>
        </div>
    </div>
</div>