<div class="wrapper">
  <div class="main">
    <div class="section">
      <div class="container">
        <form class="blog-form" [formGroup]="formGroup">
          <div class="form-group">
            <input formControlName="title" class="form-control" type="text" placeholder="Title" />
          </div>
          <div class="form-group">
            <input formControlName="subtitle" class="form-control" type="text" placeholder="Subtitle" />
          </div>
          <div class="form-group">
            <label class="btn btn-default btn-file" for="my-file-selector">
                <input
                      id="my-file-selector" type="file" style="display:none;"
                      ng2FileSelect
                      (change)="uploadPicture($event)"
                      [uploader]="uploader">
                Browse
            </label>
            <span class='label label-info' id="upload-file-info"></span>
              <div *ngIf="!uploadedFlag" class="slow-disappear">
                  Queue progress:
                  <div class="progress" style="">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progress + '%' }"></div>
                  </div>
              </div>
          </div>
          <div *ngIf="uploadedFlag" class="form-group blog-photo">
            <img class="miniature" [src]="photoUrl" />
          </div>
          <div class="form-group button-container">
            <div class="left-side">
              <button (click)="goHome()" type="submit" class="btn btn-default btn-round btn-lg">Never mind</button>
            </div>
            <div class="divider"></div>
            <div class="right-side">
              <button (click)="createBlog()" type="submit" class="btn btn-success btn-round btn-lg" [class.disabled]="!formGroup.valid" [attr.disabled]="!formGroup.valid">Submit</button>
            </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>