.blog-form {
  margin-top: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.divider {
  width: 50px;
}

.slow-disappear {
  transition: 0.5s all;
}

.miniature {
  max-width: 100%;
}

.blog-photo {
  justify-content: center;
  display: flex;
}