<div class="modal-header">
  <h5 class="modal-title text-center">Add picture</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
          <ngb-tabset (tabChange)="beforeChange($event)" [justify]="'center'">
              <ngb-tab id="tab-1" title="Upload">
                  <ng-template ngbTabContent>
                  <label class="btn btn-default btn-file" for="my-file-selector">
                      <input id="my-file-selector" type="file" style="display:none;"
                            ng2FileSelect
                            (change)="uploadPicture($event)"
                            [uploader]="uploader">
                      Browse
                  </label>
                  <span class='label label-info' id="upload-file-info"></span>
                    <div>
                        Queue progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progress + '%' }"></div>
                        </div>
                    </div>
                  </ng-template>
              </ngb-tab>
              <ngb-tab id="tab-2" title="From your files">
                  <ng-template ngbTabContent>
                      <p>Select picture from your uploaded files.</p>
                      <div class="row">
                        <div class="col-md-12">
                          <ng-container *ngFor="let file of userPictures; let i = index;" class="picture-container">
                            <img class="miniature" 
                                [class.selected] = "selectedPicture === i" 
                                [src]="file.uploadUrl" 
                                (click)="selectPicture(i)"/>
                          </ng-container>                          
                        </div>
                      </div>
                  </ng-template>
              </ngb-tab>
              <ngb-tab id="tab-3" title="From URL">
                  <ng-template ngbTabContent>
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Paste picture link here"  [(ngModel)]="pictureUrl" /> 
                    </div>
                  </ng-template>
              </ngb-tab>
          </ngb-tabset>
      </div>
  </div>

</div>
<div class="modal-footer">
  <ng-container *ngIf="activeTab !== 1">
    <div class="left-side">
      <button type="button" class="btn btn-default btn-link" (click)="emitClose(); activeModal.close('Close click')">Never mind</button>
    </div>
    <div class="divider"></div>
    <div class="right-side">
      <button type="button" class="btn btn-danger btn-link" 
              (click)="emitClose(pictureUrl); activeModal.close('Close click')">OK</button>
    </div>
  </ng-container>
  <ng-container *ngIf="activeTab === 1">
      <button type="button" class="btn btn-default btn-link" (click)="emitClose(); activeModal.close('Close click')">Never mind</button>
  </ng-container>
</div>