<div class="wrapper">
  <div class="main">
    <div class="section">
      <div class="container">
        <h2>Welcome back, {{user.firstName}}</h2>

        <div class="options">
          <div class="row">
            <div class="col-lg-6 col-xs-12">
              <div class="card mb-3" (click)="gotoBlogCreate()">
                <img class="card-img-top" src="assets/img/white-book.jpg" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">Create new blog</h4>
                  <p class="card-text">Create new blog that will express you. Share your passion, reviews, experience to everyone.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12">
              <div class="card mb-3" (click)="gotoBlogList()">
                <img class="card-img-top" src="assets/img/open-book.jpg" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">List of your blogs</h4>
                  <p class="card-text">You can find list of your and friends blogs here. Take a look at them and make sure they're express that what you want to.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
